.App {
  height: 100vh;
  width: 100%;
  background: #647dee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #647dee,
    #7f53ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #647dee,
    #7f53ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

.App__input {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  outline: none;
  height: 40px;
  width: 60%;
  color: black;
  padding-left: 5px;
}

.App__input::placeholder {
  color: black;
}

.App__button {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  outline: none;
  height: 40px;
  width: 30%;
  color: black;
  margin-top: 15px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-top: 40px;
}

td,
th {
  border: 3px solid black;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr {
  background: rgba(255, 255, 255, 0.25);
}

.App__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__weather > a > button {
  height: 40px;
  width: 200px;
  margin-top: 40px;
}
